footer {
  text-align: left;
  background-color: rgb(75, 75, 75);
  color: white;
  height: 170px;
}

footer h4 {
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 15px;
  margin-bottom: 5px;
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}

ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  padding-left: 20px;
}

header img {
  text-align: center;
  font-family: "Shrikhand", cursive;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2, h3, h4 {
  font-family: "Roboto", cursive;
}

body {
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 150px;
  object-fit: cover;
}

a {
  text-decoration: none;
}

button {
  margin: auto;
  padding: 0px 20px 0px 20px;
  border-radius: 30px;
  margin-bottom: 40px;
  max-width: 220px;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
}

button h2 {
  font-size: 15px;
  font-weight: 500;
}

.location {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0px 5px 5px rgb(180, 180, 180);
  padding-right: 10%;
}

.location p {
  font-size: small;
  font-weight: 700;
}

.location i {
  position: absolute;
  left: 23%;
  box-shadow: none;
  background-color: transparent;
  padding-right: 15px;
  font-size: medium;
}

.location p {
  margin: 0px;
}

.presentation {
  background-color: rgb(240, 240, 240);
  margin-top: 0px;
}

.presentation h1 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
}

.presentation p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}

.bloc_presentation {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  max-width: 80%;
}

nav h2 {
  text-align: left;
  padding-left: 3%;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 25px;
}

nav p {
  margin-left: -5px;
}

.bloc_nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
}

.numb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  margin-top: 20px;
  height: 55px;
  box-shadow: 10px 10px 5px rgb(199, 199, 199);
}

.numb:hover {
  background-color: rgba(202, 192, 214, 0.6588235294);
  margin-left: 25px;
  font-weight: 800;
}

.numb i {
  padding-left: 20px;
  padding-right: 20px;
  color: gray;
}

.numb h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.numb p {
  border-radius: 100%;
  background-color: #9356DC;
  font-weight: bolder;
  color: white;
  padding: 3px 6px 3px 6px;
  font-size: small;
}

.main {
  background-color: rgb(240, 240, 240);
  padding-bottom: 10px;
}

.main h2 {
  text-align: left;
  padding-left: 3%;
  padding-top: 20px;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 25px;
}

.new {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: #99E2D0;
  color: #5f8f83;
  font-size: 13px;
  font-weight: 700;
  width: 70px;
  height: 17px;
  padding-top: 2px;
}

section {
  background-color: #b6ddd3;
}

figure {
  position: relative;
  background-color: white;
  max-width: 280px;
  border-radius: 20px;
  margin: 20px;
}

figure img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 500px;
  width: 280px;
  height: 110px;
}

figcaption {
  position: relative;
  padding-left: 10px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  color: black;
}

figcaption h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

figcaption p {
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 15px;
}

figcaption i {
  position: absolute;
  right: 15px;
  top: 1px;
}

/*# sourceMappingURL=style.css.map */
