footer {
  text-align: left;
  background-color: rgb(75, 75, 75);
  color: white;
  height: 170px;
}

.footer {
  color: white;
}

h4 {
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
  font-family: "Shrikhand", cursive;
}

ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  padding-left: 20px;
}

header img {
  text-align: center;
  font-family: "Shrikhand", cursive;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2, h3, h4 {
  font-family: "Roboto", cursive;
}

body {
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 150px;
  object-fit: cover;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0px 5px 5px rgb(180, 180, 180);
  padding-right: 10%;
}

.location p {
  font-size: small;
  font-weight: 700;
}

.location i {
  box-shadow: none;
  background-color: transparent;
  padding-right: 15px;
  font-size: medium;
}

.location p {
  margin: 0px;
}

.presentation {
  background-color: rgb(240, 240, 240);
  margin-top: 0px;
}

.presentation h1 {
  font-weight: 700;
}

.bloc_presentation {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  max-width: 80%;
}

nav h2 {
  text-align: left;
  padding-left: 3%;
  font-weight: 900;
  font-size: large;
  margin-bottom: 0;
  margin-top: 25px;
}

.bloc_nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
}

.numb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  margin-top: 20px;
  height: 60px;
  box-shadow: 10px 10px 5px rgb(199, 199, 199);
}

.numb:hover {
  background-color: rgba(202, 192, 214, 0.6588235294);
}
.numb:hoveri {
  color: #6f2ebe;
}
.numb:hoverp {
  background-color: #6f2ebe;
}

.numb i {
  padding-left: 20px;
  padding-right: 20px;
  color: gray;
}

.numb i:hover {
  color: #6f2ebe;
}

.numb a {
  text-decoration: none;
}

.numb h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.numb p {
  border-radius: 100%;
  background-color: #9356DC;
  font-weight: bolder;
  color: white;
  padding: 2px 5px 2px 5px;
  font-size: small;
}

.main {
  background-color: rgb(240, 240, 240);
  padding-bottom: 10px;
}

.main h2 {
  text-align: left;
  padding-left: 3%;
  padding-top: 20px;
  font-weight: 900;
  font-size: large;
  margin-bottom: 0;
  margin-top: 25px;
}

section {
  background-color: #b6ddd3;
}

figure {
  text-decoration: none;
  background-color: white;
  max-width: 95%;
  border-radius: 20px;
  margin: 20px;
}

figure img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 500px;
  width: 280px;
  height: 110px;
}

figcaption {
  padding-left: 10px;
  text-decoration: none;
  text-align: left;
  font-weight: 400;
  font-size: small;
  line-height: 5%;
}

h1, h2, h3, h4 {
  font-family: "Roboto", cursive;
}

body {
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 150px;
  object-fit: cover;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0px 5px 5px rgb(180, 180, 180);
  padding-right: 10%;
}

.location p {
  font-size: small;
  font-weight: 700;
}

.location i {
  box-shadow: none;
  background-color: transparent;
  padding-right: 15px;
  font-size: medium;
}

.location p {
  margin: 0px;
}

.presentation {
  background-color: rgb(240, 240, 240);
  margin-top: 0px;
}

.presentation h1 {
  font-weight: 700;
}

.bloc_presentation {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  max-width: 80%;
}

nav h2 {
  text-align: left;
  padding-left: 3%;
  font-weight: 900;
  font-size: large;
  margin-bottom: 0;
  margin-top: 25px;
}

.bloc_nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
}

.numb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  margin-top: 20px;
  height: 60px;
  box-shadow: 10px 10px 5px rgb(199, 199, 199);
}

.numb:hover {
  background-color: rgba(202, 192, 214, 0.6588235294);
}
.numb:hoveri {
  color: #6f2ebe;
}
.numb:hoverp {
  background-color: #6f2ebe;
}

.numb i {
  padding-left: 20px;
  padding-right: 20px;
  color: gray;
}

.numb i:hover {
  color: #6f2ebe;
}

.numb a {
  text-decoration: none;
}

.numb h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.numb p {
  border-radius: 100%;
  background-color: #9356DC;
  font-weight: bolder;
  color: white;
  padding: 2px 5px 2px 5px;
  font-size: small;
}

.main {
  background-color: rgb(240, 240, 240);
  padding-bottom: 10px;
}

.main h2 {
  text-align: left;
  padding-left: 3%;
  padding-top: 20px;
  font-weight: 900;
  font-size: large;
  margin-bottom: 0;
  margin-top: 25px;
}

section {
  background-color: #b6ddd3;
}

figure {
  text-decoration: none;
  background-color: white;
  max-width: 95%;
  border-radius: 20px;
  margin: 20px;
}

figure img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 500px;
  width: 280px;
  height: 110px;
}

figcaption {
  padding-left: 10px;
  text-decoration: none;
  text-align: left;
  font-weight: 400;
  font-size: small;
  line-height: 5%;
}

/*# sourceMappingURL=style.css.map */
